<div class="row text-center">
	<img src="question_mark.jpg" class="img-circle" alt="Cinque Terre" 
	width="500" height="350">
</div>

<div class="row text-center">
	<a href="question" class="btn btn-primary">Let's Go!</a>
</div>