<div class="row text-center">
	<img src="question_mark.jpg" class="img-circle" alt="Cinque Terre" 
	width="500" height="350">
</div>

<div class="row text-center">
	<button type="button" class="btn btn-primary btn-lg">Let's Go!</button>
</div>