<script src="http://maps.googleapis.com/maps/api/js"></script>
<%= javascript_tag do %>

function initialize() {
	var mapDiv = $('#googleMap');
	var lat = mapDiv.data('latitude'),
			lng = mapDiv.data('longitude');
	var mycenter = new google.maps.LatLng(lat,lng);

	var mapOptions = {
		center: mycenter,
		zoom: 5,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);
	var marker=new google.maps.Marker({
		position: mycenter
	});

	marker.setMap(map);
}
google.maps.event.addDomListener(window, 'load', initialize);
<% end %>
<div id="googleMap" style="width:500px;height:380px;left:600px" data-latitude="<%= flash[:latitude] %>" data-longitude="<%= flash[:longtitude] %>">
<h1>Question#new</h1>
<p>Find me in app/views/question/new.html.erb</p>
<p>category: 
</p>
</div>
