<div class="panel panel-default">

	<!-- Default panel contents -->
	<div class="panel-heading">
		<h1 class="panel-title">What do you want to eat?</h1>
	</div>
	<div class="panel-body">
		<p>Please select one from dropdown list</p>
	</div>

	<!-- List group -->
	<div class="panel-footer clearfix">
		<div class="pull-right">
			<a href="#" class="btn btn-primary">Next</a>
			<a href="#" class="btn btn-default">Back</a>
		</div>
	</div>

</div>

