<style>
	.col-xs-4 {top: 13px;
			   margin-bottom: auto;}
</style>
<div class="panel panel-default">

	<!-- Default panel contents -->
	<div class="panel-heading">
		<h1 class="panel-title">In what range do you want to search?</h1>
	</div>
	<div class="col-xs-4">
		<div class="form-group">
			<select class="form-control" id="age">
				<option>within 1km</option>
				<option>within 2km</option>
				<option>within 3km</option>
				<option>other</option>
			</select>
		</div>
	</div>

	<!-- List group -->
</div>