<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">What do you want to eat?</h3>
    </div>
    <div class="panel-body">
    	<div class="col-xs-4">
			<div class="form-group">
				<select class="form-control" id="1">
					<option>Chinese Food</option>
					<option>Japanese Food</option>
					<option>American Food</option>
					<option>Mexican Food</option>
				</select>
			</div>
		</div>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">In what range do you want to search?</h3>
    </div>
    <div class="panel-body">
    	<div class="col-xs-4">
			<div class="form-group">
				<select class="form-control" id="1">
					<option>within 1km</option>
					<option>within 2km</option>
					<option>within 3km</option>
					<option>other</option>
				</select>
			</div>
		</div>
    </div>
</div>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">In what time do you want to eat?</h3>
    </div>
    <div class="panel-body">
    	<div class="col-xs-4">
			<div class="form-group">
				<select class="form-control" id="1">
					<option>8-12am</option>
					<option>12-6pm</option>
					<option>6-12pm</option>
					<option>other</option>
				</select>
			</div>
		</div>
    </div>
</div>

<div class="btn btn-success">Jeet!</div>